# dependencies
node_modules
.pnp
.pnp.js

# build
dist
dist-ssr
.cache

# Tauri / Cargo
src-tauri/target
src-tauri/gen
target

# Vitest
coverage

# env / local
.env
.env.local
.env.*.local
*.log
.DS_Store

# editor
.vscode/*
!.vscode/extensions.json
.idea
